@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>If you need help with this API , feel free to email the developer </strong> <a href="mailto:07mcteaguepet@googlemail.com">here!</a><br />
</address>
